.nav-list {
  margin-top: 30px;
  padding-left: 0 !important;
  text-align: center;
}

.nav-item {
  margin-top: 15px;
  display: inline-grid;
  width: 70%;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  background: hsla(0, 0%, 100%, 0.2);
}

.social-link {
  text-decoration: none;
  margin: auto;
}
